:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

[data-theme=dark] {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1200px;
}

.subtitle {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: var(--heading-color);
}

.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3 ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
}
.btn-style:hover {
  color: #fff;
  background-color: #ff6600;
  opacity: 0.8;
  border: 2px solid #ff6600;
}

.radius-image {
  border-radius: 6px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.gg-sun {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

:root {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: rgba(22, 28, 45, 0.7);
  --bg-color: #fff;
  --heading-color: #232121;
  --border-radius: 6px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #232121;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-light: rgba(130, 115, 252, 0.05);
  --bg-grey: #f7f7f7;
  --footer-bg: #000;
  --card-bg: #fff;
}

[data-theme=dark] {
  --primary-color: #ff6600;
  --secondary-color: #ffc600;
  --font-color: #c2d0da;
  --bg-color: #232220;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-light: #282828;
  --bg-grey: #282828;
  --card-bg: #888c96;
  --footer-bg: #000;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1200px;
}

.subtitle {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
}

.title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-family: "Quicksand", sans-serif;
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  color: var(--heading-color);
}

.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3 ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
}
.btn-style:hover {
  color: #fff;
  background-color: #ff6600;
  opacity: 0.8;
  border: 2px solid #ff6600;
}

.radius-image {
  border-radius: 6px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.gg-sun {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}

.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}

.gg-sun::before {
  transform: rotate(-45deg);
}

.gg-sun::after {
  transform: rotate(45deg);
}

.gg-moon,
.gg-moon::after {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
}

.gg-moon {
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom-color: transparent;
}

.gg-moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(6, 3, 0, 0.77);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 6px;
}

button#trigger-overlay {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.overlay ul li {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 3em;
}

.overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #ff6600;
}

/* Effects */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}
@media (max-width: 767px) {
  .overlay ul li a {
    font-size: 16px;
  }
  .overlay ul li {
    line-height: 2.5em;
  }
}
@media (max-width: 600px) {
  .overlay ul li a {
    font-size: 16px;
  }
  .overlay ul li {
    line-height: 2.2em;
  }
}
.footer {
  background: #000;
}
.footer .footer-logo h2 a {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.footer p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer .social a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}
.footer .social a:hover {
  color: #fff;
  background-color: #ff6600;
}
.footer .footer-title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer li {
  list-style: none;
  margin-bottom: 10px;
}
.footer li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer li a:hover {
  color: #ff6600;
}
.footer input {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
}
.footer input:focus {
  border: 1px solid #ff6600;
}

.copyright {
  background: #000;
}
.copyright p {
  color: #a5a2a1;
  font-size: 17px;
}
.copyright p a {
  color: #ff6600;
}
.copyright p a:hover {
  color: #fff;
}
.copyright a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.copyright a:hover {
  color: #ff6600;
}

#movetop {
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

.header-banner {
  background-image: linear-gradient(to right, var(--primary-color), hsla(30deg, 100%, 1%, 0.2)), url(../img/banner1.jpg);
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}
.header-banner .container .banner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 20px 0;
}
.header-banner .container .banner-header .banner-logo .logo-brand {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}
.header-banner .container .banner-header .banner-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-banner .container .banner-header .banner-right-content .search-bar {
  display: flex;
}
.header-banner .container .banner-header .banner-right-content .search-bar .search .search-input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  font-weight: 400;
  border-radius: 6px;
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
}
.header-banner .container .banner-header .banner-right-content .search-bar .search .search-icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  cursor: pointer;
  top: 15px;
}
.header-banner .container .banner-header .banner-right-content .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-banner .container .banner-header .banner-right-content .menu .mobile-nav-button {
  margin-left: 1rem;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch {
  display: inline-block;
  position: relative;
  margin: 0;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch input {
  display: none;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch .mode-container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch .mode-container i.gg-sun {
  display: none;
  color: #eee;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch .mode-container i.gg-moon {
  display: block;
  color: #eee;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch input:checked + .mode-container i.gg-sun {
  display: block;
}
.header-banner .container .banner-header .banner-right-content .menu .theme-switch-wrapper .theme-switch input:checked + .mode-container i.gg-moon {
  display: none;
}
.header-banner .container .banner-info {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.header-banner .container .banner-info h3 {
  font-size: 54px;
  line-height: 64px;
  text-transform: capitalize;
  color: #fff;
}
.header-banner .container .banner-info p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}
.header-banner .container .banner-info .btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
}
.header-banner .container .banner-info .btn-white:hover {
  background: #fff;
  color: #ff6600;
}
@media only screen and (max-width: 768px) {
  .header-banner {
    min-height: 500px;
  }
  .header-banner .container .banner-header {
    padding: 20px 0 10px 0;
  }
  .header-banner .container .banner-header .banner-logo .logo-brand {
    font-size: 18px;
  }
  .header-banner .container .banner-header .banner-right-content .search-bar {
    display: none;
  }
  .header-banner .container .banner-header .banner-right-content .search-bar .search .search-input {
    padding: 10px 20px 10px 10px;
    height: 20px;
  }
  .header-banner .container .banner-header .banner-right-content .search-bar .search .search-icon {
    top: 5px;
  }
  .header-banner .container .banner-info {
    margin-top: 50px;
  }
  .header-banner .container .banner-info h3 {
    font-size: 27px;
    line-height: 32px;
  }
  .header-banner .container .banner-info .btn-white {
    padding: 10px 20px;
  }
}

.about-us .container .content .content-right p {
  color: var(--font-color);
}

.agent {
  background: #ff6600;
}
.agent .container-fluid {
  margin: 0;
  padding: 0;
}
.agent .container-fluid .agent-image {
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.agent .container-fluid .agent-info .subtitle {
  color: #fff;
}
.agent .container-fluid .agent-info p {
  color: #ffdfc9;
}
.agent .container-fluid .agent-interactive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.agent .container-fluid .agent-interactive .gd:hover .icon span.fa {
  color: #ffc107;
  transition: 0.3s ease-in-out;
}
.agent .container-fluid .agent-interactive .gd .icon {
  background: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
.agent .container-fluid .agent-interactive .gd .icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}
.agent .container-fluid .agent-interactive .gd .gd-link {
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
  display: block;
}

.categories {
  background-color: var(--bg-grey);
}
.categories .product-card-img img {
  display: block;
  text-align: center;
  width: 100%;
  border-radius: 6px;
}
.categories .product-card-img img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}
.categories .product-card-img::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.categories .product-card-info {
  opacity: 1;
  transition: all 0.4s;
  left: auto;
  bottom: 0;
  width: 95%;
  position: absolute;
  color: #fff;
  transform: translate3d(0, 10%, 0);
}
.categories .product-card-info a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.categories .product-card-info span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}

.services {
  position: relative;
}
.services .services-box {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
}
.services .services-box:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
}
.services .services-box:hover .box .icon {
  background-color: var(--primary-color);
  transition: 0.3s ease-in-out;
}
.services .services-box:hover .box .icon span {
  color: #fff;
}
.services .services-box .box {
  display: flex;
  justify-content: flex-start;
}
.services .services-box .box .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: 6px;
  transition: 0.3 ease-in-out;
}
.services .services-box .box .icon span {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.services .services-box .box .info {
  padding-left: 30px;
}
.services .services-box .box .info p {
  padding: 0;
  margin: 0;
}
.services .services-box .box .info h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  color: var(--heading-color);
}
.services .services-box .box .info h4 a:hover {
  color: var(--primary-color);
}

.thumbnail {
  background-image: url(../img/banner2.jpg);
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
@media screen and (max-width: 415px) {
  .thumbnail {
    height: 300px !important;
  }
}
.thumbnail .overlay {
  background: rgba(16, 15, 19, 0.66);
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.thumbnail .overlay .welcome {
  max-width: 700px;
  margin: 0 auto;
}
.thumbnail .overlay .welcome .content-text {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}
@media screen and (max-width: 1080px) {
  .thumbnail .overlay .welcome .content-text {
    font-size: 40;
    line-height: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  .thumbnail .overlay .welcome .content-text {
    font-size: 35px;
    line-height: 40px;
  }
}
@media screen and (max-width: 415px) {
  .thumbnail .overlay .welcome .content-text {
    font-size: 26px !important;
    line-height: 34px !important;
  }
}
.thumbnail .overlay .welcome .btn-rm-cu .btn-readmore {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}
@media screen and (max-width: 376px) {
  .thumbnail .overlay .welcome .btn-rm-cu .btn-readmore {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .thumbnail .overlay .welcome .btn-rm-cu .btn-readmore {
    padding: 10px 21px;
  }
}
.thumbnail .overlay .welcome .btn-rm-cu .btn-readmore:hover {
  background-color: white;
  color: #ff6600;
}
.thumbnail .overlay .welcome .btn-rm-cu .btn-readmore i {
  margin-left: 10px;
  font-size: 16px;
}
.thumbnail .overlay .welcome .btn-rm-cu .btn-contact {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  color: white;
  background-color: #ff6600;
  display: inline-block;
}
@media screen and (max-width: 376px) {
  .thumbnail .overlay .welcome .btn-rm-cu .btn-contact {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .thumbnail .overlay .welcome .btn-rm-cu .btn-contact {
    padding: 10px 21px;
  }
}
.thumbnail .overlay .welcome .btn-rm-cu .btn-contact:hover {
  opacity: 0.6;
}
.thumbnail .overlay .welcome .btn-rm-cu .btn-contact i {
  margin-left: 10px;
  font-size: 16px;
}

.achievement {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
@media screen and (max-width: 992px) {
  .achievement {
    margin: 0px 0px !important;
  }
}
.achievement .list-achive .item {
  background-color: var(--bg-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: transform 0.5s;
}
.achievement .list-achive .item:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px;
}
.achievement .list-achive .item .icon i {
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.achievement .list-achive .item .number p {
  font-size: 2.6em;
  font-weight: 600;
  color: var(--font-color);
  margin-top: 10px;
}
.achievement .list-achive .item .text span {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 600;
}

.video {
  background-color: var(--bg-color);
}
.video .media {
  position: relative;
}
.video .media .poster {
  background-image: url("../img/banner3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: 6px;
  position: relative;
  background-position: center;
}
.video .media .poster::before {
  content: "";
  background: rgba(16, 15, 19, 0.6);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 6px;
}
.video .media .poster .icon-poopup {
  text-align: center;
}
.video .media .poster .icon-poopup i {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  border: transparent;
  background: #fff;
  color: #ff6600;
  cursor: pointer;
}
.video .media .video-poopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 10001;
}
@media screen and (max-width: 768px) {
  .video .media .video-poopup {
    width: 95% !important;
  }
}
@media screen and (max-width: 768px) {
  .video .media .video-poopup iframe {
    width: 100% !important;
  }
}
.video .media .video-poopup span {
  position: absolute;
  right: 0px;
  top: -40px;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  z-index: 1000;
  cursor: pointer;
}

.pro {
  background-color: rgba(16, 15, 19, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 2890px;
  display: none;
}

.blog-post {
  background: var(--bg-grey);
}
.blog-post .card {
  border: none;
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
}
.blog-post .card .card-header {
  position: relative;
}
.blog-post .card .card-header img {
  cursor: pointer;
}
.blog-post .card .card-header .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blog-post .card .card-header .post-pos .link {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.blog-post .card .card-header .post-pos span {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.blog-post .card .card-header .post-pos span i {
  margin-right: 0.5rem;
}
.blog-post .card .card-body {
  padding: 0;
}
.blog-post .card .card-body .card-title {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
.blog-post .card .card-body .card-text {
  color: var(--font-color);
}
.blog-post .card .info {
  width: 65%;
  justify-content: start;
  align-items: center;
}
.blog-post .card .info .img-info {
  width: 28%;
}
.blog-post .card .info .img-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.blog-post .card .info .name {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
  width: 60%;
}
.blog-post .card .read-more {
  width: 34%;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
}
.blog-post .card .read-more:hover {
  color: var(--primary-color);
}

.carousel .item {
  text-align: center;
}
.carousel .item .content {
  max-width: 700px;
  margin: auto;
}
.carousel .item .content .testimonial .img-custom {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.carousel .item .content .testimonial .img-custom img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
  display: block;
}
.carousel .item .content .testimonial .omg {
  margin: 0 0 1rem;
}
.carousel .item .content .testimonial .omg q {
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}
.carousel .item .content .testimonial .omg q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}
.carousel .item .content .testimonial .nhanxet {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
}
.carousel .item .content .testimonial .info-person h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  padding: 0;
  color: var(--heading-color);
}
.carousel .item .content .testimonial .info-person p {
  font-size: 18px;
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
  margin-top: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ff6600;
}