@import "../../base/variables";
@import "../components/menu";
@import "../components/header";
@import "../components/footer";

.blog {
    background: $light-gray;
    .item {
        .card {
            position: relative;
            word-wrap: break-word;
            background-color: transparent;
            background-clip: border-box;
            border: none;
            border-radius: none;
        }
    }
}