@import "./base/variables";
@import "./pages/components/menu";



.header-banner {
  background-image: linear-gradient(to right, $orange, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
  .container {
    .banner-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0 20px 0;
      .banner-logo {
        .logo-brand {
          font-size: 36px;
          font-weight: 700;
          color: $white;
        }
      }

      .banner-right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .search-bar {
          display: flex;
          .search {
            .search-input {
              padding: 10px 50px 10px 20px;
              height: 45px;
              font-size: 16px;
              color: $font-color;
              font-weight: 400;
              border-radius: 6px;
              position: relative;
              right: 0;
              background: $white;
              outline: 0;
              border: 1px solid $white;
            }
            .search-icon {
              position: absolute;
              right: 20px;
              font-size: 15px;
              cursor: pointer;
              top: 15px;
            }
          }
        }

        .menu {
          display: flex;
          justify-content: center;
          align-items: center;
          .mobile-nav-button {
            margin-left: 1rem;
          }
        }
      }
    }

    .banner-info {
        max-width: 600px;
        text-align: left;
        margin-top: 100px;
        h3 {
            font-size: 54px;
            line-height: 64px;
            text-transform: capitalize;
            color: $white;
        }
        p {
            font-size: 16px;
            line-height: 28px;
            color: $white;
        }

        .btn-white {
            background: transparent;
            border: 2px solid $white;
            color: $white;
            padding: 12px 45px;
            font-size: 16px;
            line-height: 30px;
            font-weight: 700;
            transition: 0.3s ease-in;
            border-radius: 6px;

            &:hover {
                background: $white;
                color: $orange;
            }
        }
    }
  }
}


.about-us {
    .container {
        .content {
            .content-right {
                p {
                    color: $font-color;
                }
            }
        }
    }
}

.agent {
    background: $orange;
    .container-fluid {
        margin: 0;
        padding: 0;
        .agent-image {
            background-image: url(../img/banner3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 1;
            min-height: 600px;
        }

        .agent-info {
            .subtitle {
                color: $white;
            }
            p {
                color: #ffdfc9;
            }
        }

        .agent-interactive {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            .icon {
                background: $white;
                width: 70px;
                height: 70px;
                text-align: center;
                line-height: 70px;
                border-radius: 6px;
                transition: 0.3s ease-in-out;
                span.fa {
                    color: $orange;
                    font-size: 25px;
                    line-height:  70px;
                    icon:hover  span.fa {
                        color: $warning;
                    }
                }
            }
            .gd-link {
                color: #000;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 15px;
                font-size: 20px;
                display: block;
            }
        }
    }
}