@import "./base/variables";
@import "./pages/components/menu";

html,
body {
  font-family: "Roboto", sans-serif;
}
a {
  // color: $orange;
  text-decoration: none;
  background-color: transparent;
}

.header-banner {
  background-image: linear-gradient(to right, $orange, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-size: cover;
  background-position: initial;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
  .container {
    max-width: 1200px;
    .banner-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0 20px 0;
      .banner-logo {
        .logo-brand {
          font-size: 36px;
          font-weight: 700;
          color: $white;
        }
      }

      .banner-right-content {
        display: flex;
        justify-content: center;
        align-items: center;
        .search-bar {
          display: flex;
          .search {
            .search-input {
              // display: flex;
              // flex: 1;
              padding: 10px 50px 10px 20px;
              height: 45px;
              font-size: 16px;
              color: rgba(22, 28, 45, 0.7);
              font-weight: 400;
              border-radius: 6px;
              position: relative;
              right: 0;
              background: $white;
              outline: 0;
              border: 1px solid $white;
            }
            .search-icon {
              position: absolute;
              right: 20px;
              font-size: 15px;
              cursor: pointer;
              top: 15px;
            }
          }
        }

        .menu {
          display: flex;
          justify-content: center;
          align-items: center;
          .mobile-nav-button {
            margin-left: 1rem;
          }
        }
      }
    }

    .banner-info {
        max-width: 600px;
        text-align: left;
        margin-top: 100px;
        h3 {
            font-size: 54px;
            line-height: 64px;
            font-weight: 600;
            text-transform: capitalize;
            color: $white;
        }
        p {
            font-size: 16px;
            line-height: 28px;
            color: $white;
        }

        .btn-white {
            background: transparent;
            border: 2px solid $white;
            color: $white;
        }
    }
  }
}
