@import "../../base/variables";
@import "../components/menu";
@import "../components/header";
@import "../components/footer";

.contact {
    .contact-form {
        form input, textarea {
            background: var(--bg-grey);
            border: 1px solid transparent;
            color: var(--font-color);
            font-size: 18px;
            padding: 12px 20px;
            line-height: 28px;
            width: 100%;
            border-radius: 6px;
            height: 58px;
            &:focus {
                outline: none;
                border: 1px solid $orange;
                background: $white;
                box-shadow: none;
            }
        }
        textarea {
            resize: none;
            min-height: 200px;
        }
    }

    .find-us {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: 20px;
        .content {
            .content-left {
                span {
                    margin-right: 15px;
                    color: var(--primary-color);
                }
            }

            .content-right {
                h5 {
                    font-size: 20px;
                    font-weight: 600;
                }

                a {
                    font-size: 18px;
                    line-height: 28px;
                    color: var(--font-color);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}