@import "../../base/variables";
@import "../components/menu";
@import "../components/header";

.contact {
    .contact-form {
        form input {
            background: $light-gray;
            border: 1px solid transparent;
            color: $font-color;
            font-size: 18px;
            
        }
    }
}